#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.scroll-down {
  opacity: 100%;
  position: fixed;
  bottom: 2rem;
  right: 200px;
  padding: 4px 6px;
  background-color: rgb(63, 63, 63);
  border-radius: 4px;
  text-align: center;
  animation: mover 1s infinite alternate;
  transition: opacity 500ms ease-out;
  transition-delay: 250ms;

  &.scrolled {
    opacity: 0;
  }
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.specifications {
  backdrop-filter: invert(5%);
  padding: 3rem;
  border-radius: 25px;
  border-spacing: 0 50px;

  th, td {
    vertical-align: top;
    text-align: left;
  }
}

#race {
  position: relative;
  height: 180vh;
  overflow: hidden;

  img {
    position: absolute;
    left: 0;
    bottom: 50%;
  }

  #car {
    height: 150px;
  }

  #kart {
    height: 150px;
  }
}

#rocket-space {
  margin-top: 300px;
  height: 100vh;
}

#rocket-kart {
  pointer-events: none !important;
  animation-delay: 1s;
  width: 300px;

  animation: myOrbit 4s linear infinite;
}

@keyframes myOrbit {
  from {
    transform: rotate(0deg) translateX(200px) rotate(180deg);
  }
  to {
    transform: rotate(-360deg) translateX(150px) rotate(-180deg);
  }
}

.footer {
  display: grid;
  width: 100%;
  grid-template-areas: "left" "right";
  grid-template-columns: 50% 50%;
  margin: 0;
  backdrop-filter: invert(5%);
  text-align: left;
  padding: 1.5rem;

  &.left {
    grid-area: left;
  }

  &.right {
    grid-area: right;
  }
}

.profile-link {
  color: white;
}
